:root {
  --background: #bfe8a9;
  --light: #6db148;
  --medium: #4e9329;
  --dark: #2f6e0d;
  --dark_alt: #ca0005;
  --transition-duration: 0.2s;
  --opacity: 0.8;
  --border_radius: 3px;
  --padding: 20px;
}

body {
  background-color: var(--background);
  font-weight: 400;
  color: var(--dark);
  line-height: 2;
}

header {
  text-align: right;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

@keyframes color_change {
  0% {
    color: var(--background);
  }
  25% {
    color: var(--light);
  }
  50% {
    color: var(--medium);
  }
  75% {
    color: var(--dark);
  }
  100% {
    color: var(--dark);
  }
}

.color_change {
  animation: 4s color_change infinite alternate linear;
}

main {
  text-align: center;
}

@keyframes enter_left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.enter_left {
  animation: ease-in-out 2s enter_left 1 forwards;
}

.button {
  display: block;
  background-color: var(--light);
  color: white;
  font-size: 18px;
  border: 2px solid var(--dark);
  padding: 15px;
  margin: 15px;
  width: 30%;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.button:hover {
  opacity: var(--opacity);
  text-decoration: underline;
  cursor: pointer;
  transition-duration: var(--transition-duration);
}

h1 {
  color: var(--dark_alt);
}

.zone-image {
  display: none;
}

/*modal styling*/

.modal {
  display: none;
  position: fixed;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 20%; /* Full width */
  height: 20%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: var(--dark);
  color: white;
  opacity: 0.8;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;
  border-radius: 4px;
}

.modal-close {
  float: right;
  border: 0;
  background-color: var(--background);
  color: var(--dark_alt);
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.modal-close:hover {
  opacity: var(--opacity);
  text-decoration: underline;
  cursor: pointer;
  transition-duration: var(--transition-duration);
}

.modal-close:focus {
  outline: none;
}

.modal-close:active {
  color: var(--dark_orange);
}

.modal h1 {
  margin-top: 0;
  color: var(--background);
}

.modal p {
  margin-bottom: 0;
  color: white;
}

/*footer styling*/

.page-footer {
  color: var(--medium);
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 50px;
}

.social-media {
  padding: 5px;
}

.social-media__item {
  height: 35px;
  padding: 5px;
  transition-duration: var(--transition-duration);
}

.social-media__item:hover {
  opacity: var(--opacity);
}

.social-media__item:active {
  color: var(--dark_orange);
}

.footer__plumtree-favicon {
  width: 50px;
  height: auto;
  padding: 5px;
}

/*responsive design*/

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}
@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:first-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}
